name: Docs

on: [push, ]

jobs:

  build_docs:
    name: Build Sphinx docs
    runs-on: ubuntu-18.04
    container:
      image: docker.pkg.github.com/goerz-docker/docs-build-env/docs-build-env:latest
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:

      - uses: actions/checkout@v2

      - name: Build the docs
        id: build
        run: |
          set -x
          python -m pip install -e .[dev]
          python -m pip install zip-files
          export VERSION=$(python -c 'import docs_versions_menu; print(docs_versions_menu.__version__, end="")')
          python -m sphinx -W "docs/" -d "docs/_build/doctree" "docs/_build/html"
          python -m sphinx -W "docs/" -d "docs/_build/doctree" -b latex "docs/_build/latex"
          python docs/build_pdf.py docs/_build/latex/docsversionsmenu.tex
          python -m sphinx -W "docs/" -d "docs/_build/doctree" -b epub docs/_build/epub
          zip-folder --debug --auto-root --outfile "docs-versions-menu-$VERSION.zip" docs/_build/html
          mv docs/_build/latex/docsversionsmenu.pdf "docs-versions-menu-$VERSION.pdf"
          mv docs/_build/epub/DocsVersionsMenu.epub "docs-versions-menu-$VERSION.epub"
          echo ::set-output name=VERSION::$VERSION

      - uses: actions/upload-artifact@v2
        name: Upload documentation artifacts
        with:
          name: docs
          # We need at least two files in the artifact to avoid a weird
          # double-zip file. Hence README.rst
          path: |
            README.rst
            ./docs-versions-menu-*.*

  deploy_gh_pages:
    name: Deploy documentation to gh-pages
    if: always() && needs.build_docs.result == 'success' && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/'))
    runs-on: ubuntu-18.04
    needs: [build_docs]
    steps:

      - uses: actions/setup-python@v2
        name: Install Python 3.8
        with:
          python-version: 3.8

      - name: Install deploy requirements
        run: pip install git+https://github.com/goerz/docs_versions_menu.git@master#egg=docs_versions_menu

      - name: Get branch name
        shell: bash
        run: |
          echo ${{ github.ref }}
          echo "BRANCH_NAME=$(echo ${GITHUB_REF##*/} | tr / -)" >> $GITHUB_ENV
          cat $GITHUB_ENV

      - uses: actions/checkout@v2
        name: Check out gh-pages branch (full history)
        with:
          ref: gh-pages
          fetch-depth: 0

      - uses: actions/download-artifact@v2
        name: Download documentation artifact
        with:
          name: docs
          path: _docs

      - name: Unzip html documentation
        working-directory: _docs
        shell: bash
        run: |
          unzip *.zip -d _unzip
          mv _unzip/* _unzip/${{ env.BRANCH_NAME }}

      - name: Rsync html documentation into place
        run: rsync -av --delete _docs/_unzip/${{ env.BRANCH_NAME }}/ ./${{ env.BRANCH_NAME }}/

      - name: Set download links
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "[html]: https://github.com/goerz/docs-versions-menu/releases/download/${{ env.BRANCH_NAME }}/docs-versions-menu-${{ env.BRANCH_NAME }}.zip" >> ./${{ env.BRANCH_NAME }}/_downloads

      - name: Remove artifact files
        shell: bash
        run: rm -rf _docs

      - name: Run docs-versions-menu
        run: docs-versions-menu
        env:
          DOCS_VERSIONS_MENU_DEBUG: 'true'
          DOCS_VERSIONS_MENU_VERSIONS: '(<branches> != (master, rtd-theme)), (<releases>)[:-1], rtd-theme, (<releases>)[-1], master'
          DOCS_VERSIONS_MENU_LABEL: 'rtd-theme: v0.4.1 (rtd-theme)'
          DOCS_VERSIONS_MENU_WARNING: 'unreleased: (<branches> != rtd-theme), <local-releases>'

      - name: Get the previous commit message
        id: get_previous_commit
        run: |
          git log --format=%B -n 1 | tee .git/_github_actions_commit_msg
          echo ::set-output name=log::$(cat .git/_github_actions_commit_msg)
          echo ::set-output name=lastline::$(cat .git/_github_actions_commit_msg | grep -v '^$' | tail -n1)
          echo ::set-output name=author::$(git log --format=%an -n 1)

      - name: Set git configuration
        shell: bash
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Commit changes
        shell: bash
        run: |
          echo "Committing to gh-pages"
          echo "# GIT ADD"
          git add -A --verbose
          echo "# GIT STATUS"
          git status
          echo "# GIT COMMIT"
          if [[ "${{ steps.get_previous_commit.outputs.author }}" == "github-actions"* && "${{ steps.get_previous_commit.outputs.lastline }}" == *"${{ github.ref }}"* ]];
          then
            # we ammend if the previous commit was down by Github Actions and was based on the same branch/tag name
            echo "Amending previous commit"
            echo "Deployed from commit ${GITHUB_SHA} (${GITHUB_REF})" >> .git/_github_actions_commit_msg
            git commit --verbose --amend -F .git/_github_actions_commit_msg
          else
            echo "Making new commit"
            git commit --verbose -m "Auto-update from Github Actions Workflow" -m "Deployed from commit ${GITHUB_SHA} (${GITHUB_REF})"
          fi
          git log -n 1

      - name: Push changes
        run: git push --verbose --force
